# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle build metadata
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse meta files
.settings
.project

target
*/target

bin
*/bin

build
*/build

*/.classpath
.classpath

.vscode

## UI
#
movie-list-ui/node_modules
movie-list-ui/jspm_packages
movie-list-ui/npm-debug.log
movie-list-ui/debug.log
movie-list-ui/src/**/*.js
movie-list-ui/!src/systemjs.config.extras.js
movie-list-ui/!src/systemjs.config.js
movie-list-ui/**/*.js.map
movie-list-ui/e2e/**/*.js
movie-list-ui/e2e/**/*.js.map
movie-list-ui/_test-output
movie-list-ui/_temp
movie-list-ui/dist


